# Archivos .class
*.class
*.lst

/Tema4/Fechas/Hoja1/ejercicio2/target/
/Tema4/Hoja5/ejercicio1/target/
/Tema4/Hoja5/ejercicio2/target/
/Tema4/Hoja5/ejercicio3/target/
/Tema4/Hoja6/ejercicio3/target/
/Tema4/HojaMain/ejercicio3/target/
/Tema5/Hoja01/ejercicio3/target/
/Tema5/Hoja03/ejercicio2/target/
/Tema5/Hoja04/ejercicio2/target/
/Tema5/Hoja05/ejercicio1/target/
/Tema5/Hoja05/ejercicio2/target/
/Tema5/Hoja05/ejercicio3/target/
/Tema5/Hoja05/ejercicio4/target/
/Tema5/Hoja06/ejercicio1/target/
